h1{
    background-color: aqua;
}



{font-family: 'Roboto', sans-serif;}

p
{font-family: 'Noto Serif SC', serif;}

<style>
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC|Roboto');
</style>